#  -----------------------------------------------------------------------------
#  Project:     rm-Prompter
#  File:        docker-compose.yml
#  Version:     1.0.0
#  Date:        2025-12-06
#  Author:      Lic. Ricardo MONLA
#  Email:       rmonla@gmail.com
#  Description: Configuración de Docker Compose para el backend.
#  -----------------------------------------------------------------------------
services:
  backend:
    container_name: mfm-backend
    build: .  # <--- CAMBIO IMPORTANTE: Construir desde el directorio actual
    working_dir: /app
    ports:
      - "5000:5000"
    volumes:
      # Mapeo de procesos (Solo Linux)
      - /proc:/host/proc:ro
      
      # Código en vivo (opcional, para desarrollo)
      - ./app.py:/app/app.py
      
      # Datos persistentes
      - ./app-data:/app/data
    env_file:
      - .env
    # Ya no necesitamos 'command' porque el Dockerfile se encarga
    restart: unless-stopped